<main class="h-auto w-auto m-1 p-0.5 pb-5 bg-white">
  <!-- Invoice Header -->
  <header class="pt-4 flex flex-col items-center">
    <!-- Company Logo & Name -->
    <img
      v-if="print.displayLogo"
      class="h-18 py-1 w-full object-contain"
      :src="print.logo"
    />
    <h2 class="font-semibold text-xl" :style="{ color: print.color }">
      {{ print.companyName }}
    </h2>

    <!-- Company Address -->
    <p v-if="print.address" class="w-11/12 text-lg text-center">
      {{ print.links.address.addressDisplay }}
    </p>
    <!-- Company Contacts -->
    <p class="mt-1 text-base">{{ print.phone }}</p>
    <p
      v-if="print.taxNumber || print.gstin || print.taxId"
      class="text-base text-center w-11/12"
    >
      Tax Number: {{ print.taxNumber || print.gstin || print.taxId }}
    </p>
  </header>
  <!-- Invoice Details -->

  <section class="mt-1 flex flex-col justify-between items-center">
    <h4 class="font-bold text-xl border border-black px-3 py-1">Sale Invoice</h4>
  </section>

  <div class="w-auto text-xs grid grid-cols-7 grid-rows-3 p-2">
    <div class="col-span-2 font-bold"><p>Invoice No</p></div>
    <div class="col-start-3">:</div>
    <div class="col-span-4 col-start-4">{{ doc.name }}</div>
    <div class="col-span-2 row-start-2 font-bold">Customer</div>
    <div class="col-start-3 row-start-2">:</div>
    <div class="col-span-4 col-start-4 row-start-2">{{ doc.party }}</div>
      <div class="col-span-2 col-start-1 row-start-3 font-bold">Date</div>
      <div class="col-span-2 col-start-3 row-start-3">:</div>
      <div class="col-span-4 col-start-4 row-start-3">
        {{ doc.date }}<span v-if="doc.time"> - {{ doc.time }}</span>
      </div>
  </div>

  <!-- Items Table -->
  <section class="mt-1 mx-2 text-sm">
    <!-- Heading Row -->
    <section class="font-bold w-auto flex border-b border-t border-black">
      <div class="py-1 w-4">{{ t`SI` }}</div>
      <div class="py-1 w-2/5">{{ t`Item` }}</div>
      <div class="py-1 w-1/12">{{ t`Qty` }}</div>
      <div class="py-1 text-right w-3/12">{{ t`Price` }}</div>
      <div class="py-1 text-right w-3/12">{{ t`Amount` }}</div>
    </section>

    <!-- Body Rows -->
    <section
      class="flex py-1 text-gray-900 w-auto"
      v-for="(row,index) in doc.items"
      :key="row.name"
    >
      <div class="w-4 py-1">{{ index + 1 }}</div>
      <div class="w-2/5 py-1">{{ row.item }}</div>
      <div class="w-1/12 py-1 text-left">{{ row.quantity }}</div>
      <div class="w-3/12 text-right py-1">{{ row.rate }}</div>
      <div class="w-3/12 text-right py-1">{{ row.amount }}</div>
    </section>

    <!-- Totaled Amounts -->
    <section class="border-b border-t border-black py-1 text-xs">
      <div class="flex py-1">
        <!-- <div class="w-4"></div> -->
        <div class="w-2/5">Total Items: {{ doc.totalItems }}</div>
        <div class="w-3/12 text-right">{{ t`Total Qty` }}</div>
        <div class="w-3/12 text-left font-medium">{{ doc.totalQuantity }}</div>
        <div class="w-1/12"></div>
      </div>
      <div class="flex justify-between mt-1">
        <p>Net Total:</p>
        <p>{{ doc.netTotal }}</p>
      </div>
      <div class="flex justify-between mt-1">
        <p>Total Amount</p>
        <p>{{ doc.subTotal }}</p>
      </div>
    </section>

    <!-- Grand Total -->
    <section class="flex justify-between pt-3">
      <p class="font-semibold text-lg">Net Total To Pay</p>
      <p class="font-semibold text-xl">{{ doc.grandTotal }}</p>
    </section>
  </section>

  <!-- Tax Breakdown -->
  <section
    v-if="doc.gstSummaryRows && doc.gstSummaryRows.length"
    class="mx-2 mt-3 border border-black p-2"
  >
    <p
      class="
        flex
        justify-center
        font-semibold
        text-lg
      "
    >
      GST Summary
    </p>

    <div class="grid grid-cols-3 text-xs font-semibold border-b border-black py-1">
      <p>GST %</p>
      <p class="text-right">Amount</p>
      <p class="text-right">GST</p>
    </div>

    <div
      class="grid grid-cols-3 text-xs py-1"
      v-for="(row, index) in doc.gstSummaryRows"
      :key="index"
    >
      <p>{{ row.gstPercent }}</p>
      <p class="text-right">{{ row.amount }}</p>
      <p class="text-right">{{ row.gst }}</p>
    </div>
    <div
      class="grid grid-cols-3 text-xs border-t border-black py-1 font-semibold"
    >
      <p>Total</p>
      <p class="text-right">{{ doc.totalTaxableAmount }}</p>
      <p class="text-right">{{ doc.totalTax }}</p>
    </div>
  </section>

  <!-- Payment Information -->
  <section class="mx-1 pt-2 text-sm mr-1 border-b border-black">
    <p class="font-semibold pb-1">{{ t`Payment Information` }}</p>
    <div class="grid grid-cols-3 border-t border-black">
      <div>{{ t`Mode` }}</div>
      <div class="text-right">{{ t`Amount` }}</div>
      <div class="text-right">{{ t`Balance` }}</div>
    </div>

    <div class="w-auto grid grid-cols-3 text-xs">
      <div>{{ t`Discount` }}</div>
      <div class="text-right font-medium">
        {{ doc.totalDiscount ? doc.totalDiscount : '0.00' }}
      </div>
      <div class="text-right font-medium">-</div>
    </div>

    <div v-for="(row, index) in doc.paymentDetails" :key="index">
      <div class="w-auto grid grid-cols-3 border-black text-xs">
        <div class="row-start-2">{{ row.paymentMethod }}</div>
        <div class="row-start-2 font-medium text-right">{{ row.amount }}</div>
        <div class="row-start-2 font-medium text-right">
          {{ row.outstandingAmount }}
        </div>
      </div>
    </div>
  </section>

  <!-- <div class="w-full mt-3 flex pb-5 flex-col justify-center items-center">
    <p class="pt-1 text-lg">***** Thank You Visit Again *****</p>
  </div> -->

  <div
    v-if="print.displaytermsandconditions && print.termsAndConditions"
    class="w-full text-xs px-2 pb-2 pt-2"
  >
    <p class="font-semibold">Terms and Conditions:</p>
    <p class="whitespace-pre-line">{{ print.termsAndConditions }}</p>
  </div>

  <!-- <div v-if="doc.operatorName" class="w-full text-xs px-2 pb-2">
    <p><strong>Operator:</strong> {{ doc.operatorName }}</p>
  </div> -->

  <div class="w-full text-xs pt-2 pb-2 text-center border-t border-black">
    <p>Powerd By: Aurobotix | Ph: +92-3234083843</p>
    <p class="mt-1">https://aurobotix.com | Cell: +92-3314708085</p>
  </div>
</main>
